*.csv
*.json
*.db
*.log
.DS_Store
!finance_client/vantage/resources/digital_currency_list.csv
!finance_client/vantage/resources/physical_currency_list.csv
#Python env
bin/
lib/
lib64
include/
share/
pyvenv.cfg
.ipynb_checkpoints/
finance_client.egg-info
#git
.git/
#IgnoreFolders
.env
__pycache__/
/dist
*.npz
*.log
*.logs
*.dat
sandbox/
data_source
/samples/data
*venv*/