[submodule "finance_client/sbi/sbi_util"]
	path = finance_client/sbi/sbi_util
	url = https://github.com/Naradice/sbi_util.git
[submodule "finance_process"]
	path = finance_process
	url = https://github.com/Naradice/finance_process.git
